<div class="template-404 page-width page-margin">
  <div class="template-404__content center">
    <h1 class="template-404__title">
      {{ 'templates.404.title' | t }}
    </h1>
    <p class="template-404__subtext">
      {{ 'templates.404.subtext' | t }}
    </p>
    <a href="{{ routes.root_url }}" class="button">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
</div>